:root {
  --font-main: "Georgia", serif;
  --font-second: "Arial", sans-serif;
  --font-third: "Inter", sans-serif;
  
  --color-light-xl: #fff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #444;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --start-screen-gradient-background: #211f20;
  --footer-gradient-background: #211f20;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

/* Базовая типографика */
h1, h2, h3, h4 {
    font-family: var(--font-main);
    font-weight: 400;
}

p {
    font-family: var(--font-second);
    font-weight: 400;
}

a {
    font-family: var(--font-second);
}

body {
    font-family: var(--font-second);
}

img {
    display: block;
    border: none;
}
/* header */
.header {
    width: 100%;
    background: var(--color-light-xl);
    padding: 30px 0

}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    height: 60px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    width: 184px;
    height: 60px;
}

.logo__main {
    font-family: var(--font-main);
 font-weight: 400;
font-size: 32px;
line-height: 110%;
letter-spacing: 0.06em;
color: var(--color-dark-l);
    white-space: nowrap;
}

.logo__sub {
font-family: var(--font-second);
font-weight: 400;
font-size: 13px;
letter-spacing: 0.1em;
color: var(--color-dark-3xl);
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
}

.nav__link {
    color: var(--color-dark-3xl);
    text-decoration: none;
    cursor: pointer;
}

.nav__link:hover{
    color: var(--color-primary);
}

.nav__item--active {
    color: var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    cursor: default;
    padding-bottom: 3px;
}


/* main */
.pets{
    width: 100%;
    background: var(--color-light-l);       

}
.pets__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 80px 40px; 
}
.pets__title{
font-family: var(--font-main);
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
text-align: center;
color: var(--color-dark-l);
}
.pets__slider{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.pets__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.pets__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 9px;
    padding: 30px 35px;
    width: 270px;
    height: 435px;
    background: var(--color-light-s);
     transition: box-shadow 0.3s ease;
}
.pets__card:hover {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
background: var(--color-light-s);
}
.pets__img{
width: 100%;
object-fit: contain;
}
.pets__name{
font-family: var(--font-main);
font-weight: 400;
font-size: 20px;
letter-spacing: 0.06em;
text-align: center;
color: var(--color-dark-l);
}
.pets__button{
display: inline-flex; 
align-items: center; 
justify-content: center; 
text-decoration: none;
border: 2px solid var(--color-primary);
border-radius: 100px;
padding: 15px 45px;
width: 187px;
height: 52px;
font-family: var(--font-main);
font-size: 15px;
line-height: 130%;
letter-spacing: 0.06em;
color: var(--color-dark-3xl);
text-align: center;  
transition: ease 0.3s; 
}
.pets__button:hover{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: var(--color-primary);
}

.pets__all{
    display: inline-block;
    align-items: center;
    text-decoration: none;
    border-radius: 100px;
    padding: 15px 45px;
    height: 52px;
    background: var(--color-primary);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    transition: ease 0.3s;
}

.pets__all:hover{
    background-color: var(--color-primary-light);
}

/* paginator */
.pets__pagination{
    display: flex;
    align-items: center;
    gap: 20px;
    background: transparent;

}
.pets__pagination-arrow{
display: flex;
align-items: center;
justify-content: center;
border-radius: 100px;
width: 52px;
height: 52px;
border: 2px solid var(--color-primary);
}

.pets__pagination-current{
display: flex;
align-items: center;
justify-content: center;
border-radius: 100px;
width: 52px;
height: 52px;
background: var(--color-primary);
}

.pets__pagination-arrow:disabled {
    border: 2px solid var(--color-dark-s);
    color: var(--color-dark-s);
}


/* footer */

.footer{
    width: 100%;
    background-image: 
        url('../../assets/images/footer-gradient-background.png'),
        url('../../assets/images/footer-background.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
    background-color: var(--footer-gradient-background);
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 160px;
    max-width: 1280px;
    margin: 0 auto; 
    padding: 40px 40px 0 ; 
}
.footer__left{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}
.footer__title{
font-family: var(--font-main);
font-weight: 400;
font-size: 35px;
line-height: 130%;
letter-spacing: 0.06em;
color: var(--color-light-xl);
}
.footer__contact-item{
display: flex;
justify-content: center;
align-items: center;    
gap:20px;
font-family: var(--font-main);
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: var(--color-primary);
}
.footer__dog {
    width: 300px;
    height: 310px;
}
.footer__dog-wrapper{

}

.footer__contact-item a{
    text-decoration: none;
    color: var(--color-primary);
}

.footer__right{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}
.footer__address-item{
display: flex;
justify-content: center;
align-items: center;    
gap:20px;
font-family: var(--font-main);
font-weight: 400;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: var(--color-primary);
}

.footer__address-item a{
    text-decoration: none;
    color: var(--color-primary);

}
